@font-face {
  font-family: Sta;
  src: url(../fonts/quicksand/Quicksand-Regular.otf); }
@font-face {
  font-family: Sta;
  src: url(../fonts/quicksand/Quicksand-Bold.otf);
  font-weight: bold; }
@font-face {
  font-family: Sta;
  src: url(../fonts/quicksand/Quicksand-Italic.otf);
  font-style: italic; }
@font-face {
  font-family: Sta;
  src: url(../fonts/quicksand/Quicksand-BoldItalic.otf);
  font-weight: bold;
  font-style: italic; }
.scaleanim {
  visibility: hidden; }

.scale {
  /* The name of the animation */
  animation-name: scale;
  -webkit-animation-name: scale;
  /* The duration of the animation */
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  /* Make the element visible */
  visibility: visible; }

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes scale {
  0% {
    opacity: 0;
    transform: scale(0, 0); }
  100% {
    opacity: 1;
    transform: scale(1, 1); } }
@-webkit-keyframes scale {
  0% {
    opacity: 0;
    -webkit-transform: scale(0%, 0%); }
  100% {
    opacity: 1;
    -webkit-transform: scale(100%, 100%); } }
div#mainNavbar.collapse.navbar-collapse {
  background-color: #b00055; }

html {
  height: 100%;
  width: 100%; }

h1 {
  border-bottom: double 5px white;
  padding-bottom: 15px;
  margin-top: 0;
  margin-bottom: 40px;
  text-align: center;
  font-size: x-large; }

body {
  margin-top: 70px;
  font-family: Sta; }
  body .section {
    height: 100%; }
    body .section .container .row {
      margin-left: 0;
      margin-right: 0; }
    body .section .container .well {
      border-left: 2%;
      border-right: 2%; }

.container {
  padding: 0;
  margin: 0;
  opacity: 1;
  width: 100%; }
  .container .text ul li {
    list-style-type: none;
    font-size: 13px;
    line-height: 16px;
    min-height: 21px;
    margin: 0 0 7px 0;
    padding: 0 0 0 23px;
    background: url(../img/bullet.png) 0 0 no-repeat; }

.container.text {
  color: white;
  padding: 20px;
  padding-left: 5vw;
  padding-right: 5vw;
  margin: 0;
  border: 0;
  text-align: center;
  opacity: 0.8;
  min-height: 50%;
  border-radius: 50px; }

#mission {
  min-height: 100vh; }
  #mission .textquote {
    padding-top: 20vh;
    padding-left: 60vw;
    padding-right: 10vw;
    text-align: right;
    color: #FFF;
    font-size: x-large;
    font-style: italic;
    font-family: fantasy;
    text-shadow: 0px 2px 3px #555; }
  #mission .image {
    background-image: url("../img/slider_servicesactivities.jpg");
    min-height: 60vh; }
  #mission .jumbotron {
    margin: 0;
    border: 0;
    padding: 10px;
    text-align: center;
    min-height: 50%;
    font-size: small;
    background-color: transparent; }
  #mission .text {
    background-image: radial-gradient(circle, white 0.8vw, transparent 0%), radial-gradient(circle, white 0.7vw, transparent 0%), radial-gradient(circle, white 0.6vw, transparent 0%), radial-gradient(circle, white 0.4vw, transparent 0%), radial-gradient(circle, white 0.2vw, transparent 0%), radial-gradient(circle, white 0.8vw, transparent 0%), radial-gradient(circle, white 0.7vw, transparent 0%), radial-gradient(circle, white 0.6vw, transparent 0%), radial-gradient(circle, white 0.4vw, transparent 0%), radial-gradient(circle, white 0.2vw, transparent 0%), linear-gradient(to right, transparent, #b00055 8%, #b00055 91%, transparent);
    background-size: 100% 4vh;
    background-position: -49vw -1vh, -48vw 1vh, -47vw -1vh, -46vw 1vh, -45vw -1vh, 49vw -1vh, 48vw 1vh, 47vw -1vh, 46vw 1vh, 45vw -1vh, 0 0;
    box-shadow: inset 0px 0px 50px 20px white;
    background-repeat: repeat-y;
    border-radius: 50px; }

#services .image {
  background-image: url("../img/slider_donations.jpg");
  min-height: 80vh; }
#services .container.text {
  background-image: radial-gradient(circle, white 0.8vw, transparent 0%), radial-gradient(circle, white 0.7vw, transparent 0%), radial-gradient(circle, white 0.6vw, transparent 0%), radial-gradient(circle, white 0.4vw, transparent 0%), radial-gradient(circle, white 0.2vw, transparent 0%), radial-gradient(circle, white 0.8vw, transparent 0%), radial-gradient(circle, white 0.7vw, transparent 0%), radial-gradient(circle, white 0.6vw, transparent 0%), radial-gradient(circle, white 0.4vw, transparent 0%), radial-gradient(circle, white 0.2vw, transparent 0%), linear-gradient(to right, transparent, green 8%, green 91%, transparent);
  background-size: 100% 4vh;
  background-position: -49vw -1vh, -48vw 1vh, -47vw -1vh, -46vw 1vh, -45vw -1vh, 49vw -1vh, 48vw 1vh, 47vw -1vh, 46vw 1vh, 45vw -1vh, 0 0;
  box-shadow: inset 0px 0px 50px 20px white;
  background-repeat: repeat-y;
  border-radius: 50px; }

#who .image {
  background-image: url("../img/slider_volunteer.jpg");
  min-height: 80vh; }
#who .container.text {
  background-image: radial-gradient(circle, white 0.8vw, transparent 0%), radial-gradient(circle, white 0.7vw, transparent 0%), radial-gradient(circle, white 0.6vw, transparent 0%), radial-gradient(circle, white 0.4vw, transparent 0%), radial-gradient(circle, white 0.2vw, transparent 0%), radial-gradient(circle, white 0.8vw, transparent 0%), radial-gradient(circle, white 0.7vw, transparent 0%), radial-gradient(circle, white 0.6vw, transparent 0%), radial-gradient(circle, white 0.4vw, transparent 0%), radial-gradient(circle, white 0.2vw, transparent 0%), linear-gradient(to right, transparent, blue 8%, blue 91%, transparent);
  background-size: 100% 4vh;
  background-position: -49vw -1vh, -48vw 1vh, -47vw -1vh, -46vw 1vh, -45vw -1vh, 49vw -1vh, 48vw 1vh, 47vw -1vh, 46vw 1vh, 45vw -1vh, 0 0;
  box-shadow: inset 0px 0px 50px 20px white;
  background-repeat: repeat-y;
  border-radius: 50px; }

#mission .image, #services .image, #who .image {
  position: relative;
  opacity: 1;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px; }

.well {
  color: black;
  background: none;
  background-color: white; }

.well:hover {
  opacity: 0.8; }

@media only screen and (max-device-width: 1024px) {
  .parallax1, .parallax2, .parallax3 {
    background-attachment: scroll; } }

/*# sourceMappingURL=main.css.map */
